Repository solicoders/arbre-competence, pull requests merged in 2024-04, with the labels that each got.

#265 142-grain03_c3-back-end+grain03
  docs/grain03/grain03_C3-Back-end+grain03.md
Labels: en_validation, C3-Back-end

#272 189-Yasmine-daifane_C6-Test+
  docs/Yasmine-daifane/C1_Maquettage_Yasmine-daifane.md
  docs/Yasmine-daifane/C3_Back-end_Yasmine-daifane.md
  docs/Yasmine-daifane/C6_test_Yasmine-daifane.md
Labels: en_validation, C6-Test

#269 124-Yasmine-daifane_C1-Maquettage+Yasmine-daifane
  docs/Yasmine-daifane/C1_Maquettage_Yasmine-daifane.md
Labels: C1-Maquettage

#268 267-LamchatabAmine_C6-Test+LamchatabAmine
  docs/LamchatabAmine/C6-Test+LamchatabAmine.md
Labels: C6-Test

#258 146-jalil-betroji_c3-back-end+jalil-betroji
  docs/Jalil-Betroji/159-c4-collaboration-gestion-de-projet_jalil-betroji.md
  docs/Jalil-Betroji/jalil-betroji_c3-back-end+jalil-betroji.md
Labels: en_validation

#271 122-safaa1faiz_c1-maquettage+safaa1faiz
  docs/safaa1faiz/C1_maquettage.md
Labels: C1-Maquettage

#261 147-lamchatabamine_c3-back-end+lamchatabamine
  docs/LamchatabAmine/LamchatabAmine_C3-Back-end+LamchatabAmine.md
Labels: en_validation

#294 210-grain03_c6-test+grain03
  docs/grain03/C1-Maquettage+grain03.md
  docs/grain03/C2-Base-de-données+grain03.md
  docs/grain03/C3-Back-end+grain03.md
  docs/grain03/C4-Collaboration-gestion-de-projet+aminaassaid1.md
  docs/grain03/C5-Mobile+grain03.md
  docs/grain03/C6_test_grain03.md
  docs/grain03/grain03_C3-Back-end+grain03.md
Labels: en_validation, C1-Maquettage, C2-Base de données, C3-Back-end, C5-Mobile, C6-Test

#340 160-LamchatabAmine_C4-Collaboration-gestion-de-projet+LamchatabAmine
  docs/LamchatabAmine/C1-Maquettage+LamchatabAmine.md
  docs/LamchatabAmine/C2-Base-de-données+LamchatabAmine.md
  docs/LamchatabAmine/C3-Back-end+LamchatabAmine.md
  docs/LamchatabAmine/C4-Collaboration-gestion-de-projet+LamchatabAmine.md
  docs/LamchatabAmine/C5-Mobile+LamchatabAmine.md
  docs/LamchatabAmine/C6-Test+LamchatabAmine.md
  docs/LamchatabAmine/C7-Deploiement+LamchatabAmine.md
  docs/LamchatabAmine/LamchatabAmine_C3-Back-end+LamchatabAmine.md
Labels: en_validation, C4-Collaboration-gestion-de-projet

#273 148-Safaa1faiz_C3-Back-end+Safaa1faiz
  docs/safaa1faiz/C1_maquettage.md
  docs/safaa1faiz/C2_base_de_données.md
  docs/safaa1faiz/C3_backend.md
  docs/safaa1faiz/C4_collaboration_gestion_de_projet.md
  docs/safaa1faiz/C6_Test.md
Labels: C3-Back-end
